:root {
    --beige: #F5F5DC;
}


/* Adding Background photo */

body {
    background-image: url("../assets/denys-nevozhai-duo-xV0TU7s-unsplash.jpg");
    background-size: cover;
}

.header {
    padding: 15px;
    width: 100%;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
}