/* Global variables */

:root {
    --tealGrey: #c0ccd4;
    --charcoal: #484d5c;
    --yellow: #ffce00;
}

body,
html {
    background-color: var(--charcoal);
    font-family: 'Cardo', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

body {
    line-height: 1;
    /* font-family: 'Cardo'; */
    color: lightblue;
    /* font-family: 'Cardo', serif; */
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

header {
    /*Alignment*/
    display: flex;
    overflow: visible;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--charcoal);
    padding: 0px 30px;
    max-width: 940px;
    max-height: 120px;
    margin: auto;
    border: 2px solid var(--tealGrey);
    border-radius: 0 0 25% 25%;
    /* clear: both; */
    /* overflow: visible; */
}

nav {
    display: inline;
}


/* Top navigation buttons */

nav ul li a {
    background: var(--yellow);
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: var(--charcoal);
    border-radius: 10px;
    transition: all .3s;
}


/* Hovering Top navigation buttons */

nav ul li a:hover {
    text-decoration: underline;
    background-color: transparent;
    color: var(--yellow);
    transition: all .3s;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul {
    list-style: none;
}

#pageContent {
    display: inline;
    max-width: 1000px;
    margin: auto;
    border: none;
}

main {
    float: left;
    width: 60%;
}

aside {
    float: right;
    width: 30%;
    overflow: hidden;
}

article {
    border: solid var(--charcoal);
    padding: 10px;
    border-radius: 5%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    transition: all ease 0.5s;
}

article:hover {
    border: solid var(--yellow);
    top: -10px;
}

article h2 {
    font-weight: normal;
    margin-bottom: 12px;
}


/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background: var(--charcoal);
    color: var(--tealGrey);
    max-width: 1000px;
    margin: auto;
    clear: both;
    text-align: right;
    border: 2px solid var(--tealGrey);
    border-radius: 25% 25% 0 0;
}

.footerflex {
    display: flex;
    /* overflow: visible; */
    flex-direction: row;
    align-items: center;
    justify-content: start;
    /* margin: auto; */
}


/* Adding padding to footer paragraph */

footer p {
    padding: 20px;
}


/* Foot Links */

footer a {
    background: var(--yellow);
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: var(--charcoal);
    border-radius: 10px;
    transition: all .3s;
}

.fa {
    margin: 10px 30px;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid transparent;
}

.fa-facebook {
    /* background: #3B5998; */
    color: var(--charcoal);
}

.fa-facebook:hover {
    color: white;
    background: #3B5998;
}


/*
.fa-google {
    /* background: #dd4b39; */


/* color: var(--charcoal);
}

.fa-google:hover {
    color: white;
    background: #dd4b39;
} */

.fa-linkedin {
    /* background: #007bb5; */
    color: var(--charcoal);
}

.fa-linkedin:hover {
    color: white;
    background: #007bb5;
}

.fa-youtube {
    /* background: #bb0000; */
    color: var(--charcoal);
}

.fa-youtube:hover {
    color: white;
    background: #bb0000;
}

.fa-instagram {
    /* background: #125688; */
    color: var(--charcoal);
    /* background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1); */
}

.fa-instagram:hover {
    color: white;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.fa-envelope {
    color: var(--charcoal);
}

.fa-envelope:hover {
    color: white;
    background: #67c8ff;
}

address {
    padding: 10px 20px 30px 10px;
}

address a:hover {
    background-color: transparent;
    color: var(--yellow);
    text-decoration: underline;
    /* font-size: 25px;  */
    transition: all .3s;
}


/* Side Projects */

.project {
    margin: 10px auto;
    width: 90%;
    color: white;
    padding: 10px;
    /* background: var(--charcoal); */
    min-height: 100px;
    border-radius: 10%;
}

#projectpic1 {
    filter: brightness(50%);
    background-image: url('https://picsum.photos/200/300/?blur=5&random=1');
    background-size: cover;
    background-position: center;
}

#projectpic2 {
    filter: brightness(50%);
    background-image: url('https://picsum.photos/200/300/?blur=5&random=2');
    background-size: cover;
    background-position: center;
}

#projectpic3 {
    filter: brightness(50%);
    background-image: url('https://picsum.photos/200/300/?blur=5&random=3');
    background-size: cover;
    background-position: center;
}


/*For side titles*/

aside>.project {
    font-size: large;
}

.overlay {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.project:hover .overlay {
    opacity: 1;
}

.hiddentext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* aside>div:hover .hiddenDescription {
    opacity: 1;
} */

#leftHeader {
    margin: 0;
    display: flex;
    align-items: baseline;
    /* display: inline-block; */
    color: var(--yellow);
    /* position: absolute;
    top: 10px;
    top: 10x; */
    font-size: 30px;
    /* margin-right: 75px; */
    color: var(--yellow);
    /* height: 100%; */
}

h6 {
    margin: auto;
}

#rightHeader {
    /* justify-content: space-betweens; */
    padding: 50px;
}


/* Each section that is a direct child from body */

body>section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0px;
    border-bottom: 1px solid var(--charcoal);
    color: var(--tealGrey);
    overflow: auto;
}

p {
    line-height: 120%;
    font-weight: 120;
}


/* &.grow {
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  } */
